#fw73l-mesh-styles {
      #fw73linlineContent {
        height: auto;
        width: 100%;
        position: relative;
      }

      #fw73linlineContent-gridWrapper {
        pointer-events: none;
      }

      #fw73linlineContent-gridContainer {
        position: static;
        display: grid;
        height: auto;
        width: 100%;
        min-height: 1353px;
        grid-template-rows: min-content min-content min-content min-content min-content 1fr;
        grid-template-columns: 100%;
        padding-bottom: 0px;
        box-sizing: border-box;
      }

      #comp-j3yhud2b {
        position: relative;
        left: 546px;
        top: -56px;
      }

      #comp-j3yhquq12 {
        position: relative;
        margin: 0px 0px 17px calc((100% - 980px) * 0.5);
        left: 487px;
        grid-area: 1 / 1 / 2 / 2;
        justify-self: start;
        align-self: start;
      }

      #comp-j3yhquq0 {
        position: relative;
        margin: 0px 0px -108px calc((100% - 980px) * 0.5);
        left: -158px;
        grid-area: 3 / 1 / 4 / 2;
        justify-self: start;
        align-self: start;
      }

      #comp-j3yhquq1 {
        position: relative;
        margin: 89px 0px -197px calc((100% - 980px) * 0.5);
        left: -60px;
        grid-area: 3 / 1 / 4 / 2;
        justify-self: start;
        align-self: start;
      }

      #comp-j3yhquq11 {
        position: relative;
        margin: 0px 0px -15px calc((100% - 980px) * 0.5);
        left: 0px;
        grid-area: 2 / 1 / 3 / 2;
        justify-self: start;
        align-self: start;
      }

      #comp-j3yhses0 {
        position: relative;
        margin: 185px 0px 47px calc((100% - 980px) * 0.5);
        left: 490px;
        grid-area: 3 / 1 / 4 / 2;
        justify-self: start;
        align-self: start;
      }

      #comp-j3yhud2b-rotated-wrapper {
        position: static;
        height: 6px;
        width: 0;
        margin: 144px 0px 10px calc((100% - 980px) * 0.5);
        grid-area: 4 / 1 / 5 / 2;
        justify-self: start;
        align-self: start;
      }

      #comp-j3yhwtsn {
        position: relative;
        margin: 114px 0px 58px calc((100% - 980px) * 0.5);
        left: 17px;
        grid-area: 5 / 1 / 6 / 2;
        justify-self: start;
        align-self: start;
      }

      #comp-j3yhz9o6 {
        position: relative;
        margin: 0px 0px 0 calc((100% - 980px) * 0.5);
        left: 17px;
        grid-area: 6 / 1 / 7 / 2;
        justify-self: start;
        align-self: start;
      }

      #comp-j3yi85mp {
        position: relative;
        margin: 0px 0px -182px calc((100% - 980px) * 0.5);
        left: 732px;
        grid-area: 4 / 1 / 5 / 2;
        justify-self: start;
        align-self: start;
      }

      #comp-j3yi1v9n {
        position: relative;
        margin: 50px 0px 0 calc((100% - 980px) * 0.5);
        left: 696px;
        grid-area: 4 / 1 / 5 / 2;
        justify-self: start;
        align-self: start;
      }

      #comp-j470vc6a {
        position: relative;
        margin: 0px 0px -57px calc((100% - 980px) * 0.5);
        left: 539px;
        grid-area: 5 / 1 / 6 / 2;
        justify-self: start;
        align-self: start;
      }

      #fw73lcenteredContent {
        position: relative;
      }

      #fw73linlineContent-gridContainer>* {
        pointer-events: auto;
      }

      #fw73linlineContent-gridContainer>[id$="-rotated-wrapper"] {
        pointer-events: none;
      }

      #fw73linlineContent-gridContainer>[id$="-rotated-wrapper"]>* {
        pointer-events: auto;
      }
}