.w-100 {
    width: 60%;
    margin-left: 300px;
}

.carousel-indicators .active {
    opacity: 1;
    margin-left: 220px;
}

.carousel-control-next-icon {
    margin-right: 200px;
    position: absolute;
}