* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
a {
    text-decoration: none;
}
#header {
    height: auto;
    width: 100%;
    
}
#header {
    background-color: #fff;
}
#main-body #header table{
    
    position: relative;
    left: 580px;
}
#header img {
    position: absolute;
    top: 35px;
}
#head-table a{
} 
#head-table a:hover{
  color: #62b6cb;
}
body {
    font-family: Arial,Helvetica,sans-serif;
}