* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
#header table tr th a{
    text-decoration: none;
    margin-right: 100px;
    font-size: 20px;
}

a{
    text-decoration: none;
}

#header {
    height: auto;
    width: 100%;
    
}

#header {
    background-color: #fff;
}
#main-body #header table{
    
    position: relative;
    left: 580px;
    border-radius: 5px;
    height: 100px;
}

#header img {
    position: absolute;
    top: 35px;
}
#head-table a:hover{

    text-decoration: underline;
    color: rgba(140, 64, 226, 0.993);

}

body {
    font-family: Arial,Helvetica,sans-serif;
}
#footer {
    background-color: rgb(231, 209, 136);
    width: 100%;
    height: 170px;
}   
#cl1 {
    float: left;
    width: 30%;
    text-align: center;
    margin-top: 40px;
}
#cl2 {
    float: left;
    width: 40%;
    text-align: center;
    margin-top: 40px;
}
#cl3 {
    float: left;
    width: 30%;
    text-align: center;
    margin-top: 40px;
}
#lastline {
    margin-top: 120px;
    display: block;
    text-align: center;
    margin-left: 550px;
    position: absolute;
}
.social-image {
    width: 23px;
    height: 23px;
    object-fit: cover;
}
#car-champ {
    font-size: 30px;
    font-family: 'Lato';
    font-weight: 400;
    margin-bottom: 5px;
}