* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
a {
    text-decoration: none;
}

#header {
    height: auto;
    width: 100%;
    
}
#header {
    background-color: #fff;
}
#main-body #header table{
    
    position: relative;
    left: 580px;
    border-radius: 5px;
    height: 100px;
}

#header img {
    position: absolute;
    top: 35px;
}
#head-table a:hover{

    text-decoration: underline;
    color: rgba(88, 113, 187, 0.986);

}

body {
    font-family: Arial,Helvetica,sans-serif;
}